body.custom-body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
}

a.custom-link {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	/* border-bottom: solid 1px #e4e4e4; */
	color: black;
	text-decoration: none;
}

a.custom-link:hover {
	border-bottom-color: transparent;
	color: #367DC5 !important;
}

/* Nav */

.navbar-nav {
	margin-left: auto;
	margin-right: 30px;
}

.navbar-nav .active-link span {
	text-decoration: none;
	color:black;
	position: relative;
	border-bottom: 3px solid #367DC5;

}

/* Introduction */

.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
}

.introduction .content {
	font-size: 21px;
	max-width: 800px;
	padding: 20px;
	text-align: center;
}

/* Projects */

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 20px;
}

.project-card {
	max-width: 300px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}
